<div class="star-wars-table">
  <mat-table
    data-cy="ui-table"
    class="mat-elevation-z10"
    matSort
    [dataSource]="dataSource"
  >
    <ng-container
      [matColumnDef]="column.columnId"
      *ngFor="let column of displayedColumns"
    >
      <mat-header-cell
        data-cy="ui-table-headers"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        {{ column.displayedName }}
      </mat-header-cell>
      <mat-cell data-cy="ui-table-cell" *matCellDef="let element">
        <div class='star-wars-table__mobile-container'>
          <div class="star-wars-table__mobile-cell-header"
            >{{ column.displayedName }}:
          </div>
          <div class="star-wars-table__mobile-cell">
            {{ element[column.columnId] }}
          </div>
        </div>
        <div class='star-wars-table__cell'>
          {{ element[column.columnId] }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell
        class="star-wars-table__actions-cell"
        *matHeaderCellDef="let column"
      >
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          data-cy="action-button"
          matTooltip="Details"
          mat-icon-button
          (click)="this.detailsDisplayed.emit(element)"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="columnsToDisplay | toColumnId"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnsToDisplay | toColumnId"
    ></mat-row>
  </mat-table>

  <mat-paginator
    data-cy="table-paginator"
    [pageSize]="pageSize"
    [length]="paginatorLength"
    (page)="onPageChange($event)"
  ></mat-paginator>

  <div class="star-wars-table__spinner-container">
    <mat-progress-spinner
      *ngIf="dataLoading"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</div>
