@import '~@angular/material/theming';

$app-primary: mat-palette($mat-pink);
$primary: mat-color($app-primary);

.star-wars-table {

  width: 100rem;

  &__actions-cell {
    width: 8%;
  }

  &__spinner-container {
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 1000;
  }
}

table {
  width: 100%;
}

.mat-header-row {
  background-color: $primary;
}

.mat-header-cell {
  font-size: medium;
}
.star-wars-table__mobile-container {
  display: none;
}


@media screen and (max-width: 600px) {

  .star-wars-table {
    width: auto;
  }

  .star-wars-table__cell {
    display: none;
  }

  .star-wars-table__mobile-container {
    display: grid;
    padding: 0.5rem;
  }

  .star-wars-table__mobile-cell-header {
    width: 7rem;
    grid-column: 1 / 2;
    font-weight: bold;
  }

  .star-wars-table__mobile-cell {
    grid-column: 2/2;
    justify-items: end;
  }

  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
    margin-left: 0;
  }
}
