<div class="star-wars-details-dialog">
  <div class="star-wars-details-dialog__spinner">
    <mat-progress-spinner
      *ngIf="dataLoading"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
  <div *ngIf="!dataLoading">
    <div class="star-wars-details-dialog__title">
      {{ data.title }}
    </div>
    <div
      data-cy="details-content"
      mat-dialog-content
      class="star-wars-details-dialog__form"
      *ngFor="let element of detailsArray"
    >
      <mat-form-field
        appearance="outline"
        class="star-wars-details-dialog__form-field"
      >
        <label class="star-wars-details-dialog__label">{{
          element[0] | displayLabel
        }}</label>
        <input matInput readonly [value]="element[1]" />
      </mat-form-field>
    </div>
    <div class='star-wars-details-dialog__footer'>
        <button
          data-cy="details-close-button"
          mat-raised-button
          color="primary"
          type="button"
          mat-dialog-close="false"
        >
          Close
        </button>
    </div>
  </div>
</div>
