@import '~@angular/material/theming';

$app-primary: mat-palette($mat-pink);
$primary: mat-color($app-primary);


.star-wars-details-dialog {
  padding: 1rem;

  &__form {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

  &__form-field {
    width: 90%;
  }

  &__title {
    padding: 1.5rem;
    font-size: 18px;
  }

  &__label {
    color: $primary;
  }

  &__footer {
    position: fixed;
    bottom: 100px;
    display: flex;
    justify-content: flex-end;
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .star-wars-details-dialog__footer {
    bottom: 20px;
  }
}
