.star-wars-global-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__toolbar {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
  }

  &__sidenav-container {
    flex: 1;
    width: 100%;
    height: 100%;
  }

  &__sidenav {
    width: 15rem;
  }

  &__sidenav-content {
    padding: 4rem;
    display: flex;
    justify-content: center;
  }

  &__close-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}

