<div class="star-wars-global-header">
  <mat-toolbar class="star-wars-global-header__toolbar">
    <div class="star-wars-global-header__title">Star Wars Data</div>
    <button data-cy="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="star-wars-global-header__sidenav-container">
    <mat-sidenav
      #sidenav
      class="star-wars-global-header__sidenav"
      mode="over"
      position="end"
    >
      <mat-nav-list>
        <div class="star-wars-global-header__close-button">
          <button data-cy='menu-close-button' mat-icon-button (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-list-item
          *ngFor="let item of menuItems"
          [routerLink]="item.route"
          (click)="sidenav.close()"
        >
          <p mat-line>{{ item.name }}</p>
          <button data-cy='menu-item' mat-icon-button>
            <mat-icon>{{ item.icon }}</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="star-wars-global-header__sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
